.contact-page {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  margin: 30px;

  .app-info {
    width: 380px;
    display: flex;
    flex-direction: column;

    .title {
      margin: 10px 0;
    }

    p {
      font-size: 20px;
      text-align: justify;
      line-height: 1.6;

      a {
        color: blue;
      }
    }
  }

  .contact-info {
    width: 380px;
    display: flex;
    flex-direction: column;

    .title {
      margin: 10px 0;
    }

    .contact-form {
      font-size: 20px;
    }
  }
}
